  
{% extends 'bootstrap/base.html' %}

{% block styles %}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Example page
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Example Page</h1>

      <p class="lead">This is the index page for an example Flask app using a SQL database containing a list of issues.</p>

      <p>Select the type of issue you'd like to view</p>

      <ul>
          {% for s in style %}
          <li><a href="{{ url_for( 'list', style=s.style ) }}">{{ s.style }}</a></li>
          {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}