  
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Example page
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1 class="text-center mt-5 display-2 text-primary">{{err_list}}</h1>

      <p class="lead text-center pt-4 pb-4">This is the index page for an example Flask app using a MySQL database.</p>

		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-lg-6 mx-md-auto mx-lg-auto">
			<div class="bg-secondary text-white p-4">
       {{ wtf.quick_form(form,action=url_for("err_detail"), method="post") }}

    </div>
  </div>
</div>

{% endblock %}